src/main/mule/tn-store-movil-xapi-svc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="tn-store-movil-xapi-svc-httpListenerConfig">
        <http:listener-connection host="${http.listener.host}" port="${http.listener.port}" />
    </http:listener-config>
    <apikit:config name="tn-store-movil-xapi-svc-config" api="tn-store-movil-xapi-svc.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <global-property doc:name="Global Property" doc:id="5e1ff343-a188-4b1b-bba6-3d0fd44c3616" name="env" value="local" />
    <flow name="tn-store-movil-xapi-svc-main">
        <http:listener config-ref="tn-store-movil-xapi-svc-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="tn-store-movil-xapi-svc-config" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="tn-store-movil-xapi-svc-console">
        <http:listener config-ref="tn-store-movil-xapi-svc-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="tn-store-movil-xapi-svc-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\v1\loads:tn-store-movil-xapi-svc-config">
        <flow-ref doc:name="go to handler" doc:id="b36c536a-61cb-40a8-b6ea-49625e6a7465" name="get-loads-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\products:tn-store-movil-xapi-svc-config">
        <flow-ref doc:name="Go to handler" doc:id="57f42b75-dbb1-4f70-a512-61c46fa9cc5c" name="get-products-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\inventories\store\(store_id)\products\(product_id):tn-store-movil-xapi-svc-config">
        <flow-ref doc:name="Go to handler" doc:id="78ea534b-0006-4043-bbb1-c48c155fd758" name="get-inventories-store-products-produc_id-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\inventories:application\json:tn-store-movil-xapi-svc-config">
        <flow-ref doc:name="Go to handler" doc:id="33d8d181-3039-4a9e-b63a-b2e44d032c39" name="post-invetories-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\loads:application\json:tn-store-movil-xapi-svc-config">
        <flow-ref doc:name="Flow Reference" doc:id="20f5c0c8-e3b0-4ef0-afe2-82208de64964" name="post-loads-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\users\login:application\json:tn-store-movil-xapi-svc-config">
        <flow-ref doc:name="Go to handler" doc:id="6ca14f96-7e48-4422-ac85-a18f0b788a0d" name="post-users-login-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\products:application\json:tn-store-movil-xapi-svc-config">
        <flow-ref doc:name="Go to handler" doc:id="66a6427f-6e06-44bc-b10e-eae296505e77" name="post-products-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\users\recoverPassword:application\json:tn-store-movil-xapi-svc-config">
        <flow-ref doc:name="Go to handler" doc:id="362c41fa-1251-44f7-bfe2-6bd484d023c2" name="post-users-recover-password-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\users:application\json:tn-store-movil-xapi-svc-config">
        <flow-ref doc:name="Go to handler" doc:id="b66a800a-b738-4942-b18f-318ff5402026" name="post-users-handlerSub_Flow" />
    </flow>
</mule>
